body{
    margin:40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #444;
	padding: 0 10px
}
h1,h2,h3{
    line-height: 1.2
}
.immargin{
    width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -40vw;
}
a:link{
    color: black;
}
a:visited{
    color: #666;
}
footer{
    font-size: 8pt;
	font-family: Arial;
	color: #000000;
	background-color: transparent;
	font-weight: 400;
	font-variant: normal;
	text-decoration: none;
	vertical-align: baseline;
	white-space: pre-wrap;
}
p{
				
}
strong{
    color: black;
}