/*font styles from here on in are totally legal!*/
@font-face{
	font-family: "Futura";
	src: url("../fonts/Futura_0.otf");
	url("../fonts/Futura_0.otf");
}
@font-face{
	font-family: "Futura";
	src: url("../fonts/Futura-Bold.otf");
	url("../fonts/Futura-Bold.otf");
	font-weight: bold;
}
@font-face{
	font-family: "Futura";
	src: url("../fonts/Futura Italic.ttf");
	url("../fonts/Futura Italic.ttf");
	font-style: italic;
}
@font-face{
	font-family: "Futura";
	src: url("../fonts/Futura-BoldOblique.otf");
	url("../fonts/Futura-BoldOblique.otf");
	font-weight: bold;
	font-style: italic;
}
body{
    margin: auto;
	max-width: 800px;
    line-height: 1.6;
	font-family: 'Futura', sans-serif;
	font-size: 1em;
	color: #444;
	padding: 0 1em;
}
h1,h2,h3{
    line-height: 1.2;
}
h1{
	font-size: 3.375em;
	font-weight: bold;
	color: black;
}
h2{
	font-size: 2.25em;
	font-weight: 400;
}
h3{
	font-size: 1.5;
	font-weight: 400;
}
a:link{
    color: black;
	transition: color 0.4s ease-in-out;
}
a:visited{
    color: #666;
}
a:hover{
	color: #aaa;
}
.navlink{
	text-decoration: none;
}
footer{
    font-size: 8pt;
	font-family: "Futura";
	color: #000000;
	background-color: transparent;
	font-weight: 400;
	font-variant: normal;
	text-decoration: none;
	vertical-align: baseline;
	white-space: pre-wrap;
}
.footerimg{
	height: 1em;
	width: auto;
}
aside{
    font-size: 8pt;
	font-family: "Futura";
	color: #000000;
	background-color: transparent;
	font-weight: 400;
	font-variant: normal;
	text-decoration: none;
	vertical-align: baseline;
	white-space: pre-wrap;
}
strong{
    color: black;
	font-weight: 900;
}
nav ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: left;
}

/* Navigation & layout begins here */

/* Nav:DefineElements */
#container > header		{grid-area: header;}
#container > nav		{grid-area: nav;}
#container > article	{grid-area: article;}
#container > footer		{grid-area: footer;}
#container > aside		{grid-area: aside;}

/* Nav:Implement */
#container{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 18%% 79%;
	grid-template-rows: auto;
    grid-column-gap: 3%;
	grid-template-areas: 
		"header header"
		"nav article"
		"nav aside"
		"footer footer"
}

/* Nav:Mobile/Responsive */
@media (max-width: 750px) and (orientation: portrait){
	nav ul{
		list-style: none;
		padding-left: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
	}
	#container{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 
			"header"
			"nav"
			"article"
			"footer"
			"aside"
	}
}